.headerBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    text-decoration: none;
}

.headerLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: auto;
}

.headerLeftLink {
    text-decoration: none;
}

.headerLeftLogo {
    color: #f9faf8;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 24px;
    padding: 0 8px;

}

.headerRight {
    color: #f9faf8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.about, .faq, .contact {
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;
    padding: 0 8px;
}

.sec-one {
    position: relative;
}

.sec-one-container {
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
}

.sec-one-left {
    width: 40%;
    color: #f9faf8;
    margin: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.hero-text {
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
}

.subtext {
    color: #e5e7eb;
    font-size: 18px;
    text-align: justify;
    margin-top: 6px;
    margin-bottom: 12px;
}

.know-more-container {
    margin-top: 18px;
}

.know-more {
    color: #f9faf8;
    border: 2px solid white;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 24px;
    text-decoration: none;

}

.sec-one-right {
    width: 50%;
    margin: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*.sec-one-image {
    width: 100%;
    padding: 6px;
}*/

.sec-two {
    position: relative;
    display: flex;
    flex-direction: column;
}

.head-info {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    padding: 18px;
}

.sec-two-container {
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

[class*=element-info] {
    width: 100%;
    margin: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

img {
    width: 100%;
    padding: 6px;
}
.element-image {
    border: 2px solid black;
    padding: 0 8px;
    align-items: center;
    }
